# Database (Supabase PostgreSQL URL)
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.YOUR_SUPABASE_PROJECT.supabase.co:5432/postgres"

# JWT Secret for Admin Login
JWT_SECRET="ZEUS_THUNDERBOLT_SECURE_KEY_2026_99X"

# Cloudinary (Optional, for file uploads in production)
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Port
PORT=3000
